* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    font-family: "Heebo", sans-serif;
}

.landing{
    min-height: 100vh;
    background: url('ani-ocean.jpg');
    background-size: cover;
    padding: 0rem 5rem;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 10vh;
}

.nav-links{
    display: flex;
    list-style: none;
}

.nav-links li{
    padding-left: 10rem;
    font-size: 1.2rem;
}

a{
    color:rgb(61, 61, 61);
}

.current{
    color:rgb(15, 111, 162)
}

#logo{
    font-family: "Lobster", cursive;
    font-weight: lighter;
    font-size: 2rem;
}

.big-text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    font-size: 5rem;
    font-family: "Lobster", cursive;
    color: rgb(61, 61, 61);
}


/* Slider */
.intro{
   background: black; 
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.slider{
    background: rgb(170, 195, 206); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
 }

.intro-text {
    color: aliceblue;
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
}


/* Hide Text */
.hide{
    background: black;
    overflow:hidden;
}

.hide span{
    transform:translateY(100%);
    display: inline-block;
}

@media only screen and (max-width: 508px ){
  .nav-links, li{
     display: block;
     padding-bottom: 5px;
     padding-left: 0;
 }

 #logo{
     position: absolute;
     top: 0;
     left: 0;
 }

nav{
    display: block;
    text-align: center;
}

 
}

@media only screen and (max-width: 580px ){
    nav{
        display: block;
    }
    .landing .nav-links > li {
        padding-left: 0px;
        padding-top: 10px;
        font-size: 1.2rem;
        display: block;
        margin: auto;
        text-align: center;
        margin: 0 auto;
    }

    li{
        padding: 0;
        width: 50%;
    }
 
}

@media only screen and (max-width: 822px ){
    .nav-links li{
        padding-left: 5rem;
        font-size: 1.2rem;
    }
 
}